<div class="map-container">
  <google-map
    #mapRef
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    width="100%"
    height="100%">
    
    @for (marker of markers(); track marker.id) {
      <map-marker 
        [position]="marker.position"
        [title]="marker.title"
        [options]="{ icon: marker.icon }"
        (mapClick)="onMarkerClick(marker.id)">
      </map-marker>
    }
  </google-map>

  <!-- Geofence Overlay Component -->
  @if (googleMap?.googleMap) {
    <app-geofence-overlay 
      [map]="googleMap.googleMap!"
      [showGeofences]="showGeofences()">
    </app-geofence-overlay>
  }

  <!-- Floating Geofence Toggle Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="geofence-fab">
    <ion-fab-button (click)="toggleGeofences()" [color]="showGeofences() ? 'success' : 'medium'">
      <ion-icon [name]="showGeofences() ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Vehicle Detail Panel -->
  @if (showVehicleDetail() && selectedVehicleDetail()) {
    <div class="vehicle-detail-panel">
      <app-vehicle-detail 
        [vehicle]="selectedVehicleDetail()!"
        (close)="onCloseVehicleDetail()">
      </app-vehicle-detail>
    </div>
  }
</div>
